@tailwind base;
@tailwind components;
@tailwind utilities;

[data-aos] {
  pointer-events: none;
}

.aos-animate {
  pointer-events: auto;
}

.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

.active {
  @apply text-blue-600
}